* {
  padding: 0;
  margin: 0;
}

/*
Tags html
*/
body {
  background-color: #f5f7f9;
}

h1 {
  color: #42474e;
}

/*
class html
*/
.h-50p {
  height: 50px !important;
}

input:placeholder-shown {
  background-color: #f7f8f8 !important;
  color: #798188 !important;
}

.active > .page-link, .page-link.active {
  border-color: #439471;
  background-color: #439471;
}

.page-link {
  color: #439471;
}

.input-group input[type="text"]::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  display: inline-block;
  padding: 0.375rem 0.75rem;
  margin-right: -1.5rem;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #495057;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-right: none;
}

.mr-md-0p{
  margin-right: 0px !important;
}
/*
media query
*/
@media (min-width: 768px) {
  .h-lg-100p {
    height: 100px !important;
  }

  .mr-md-20p{
    margin-right: 20px !important;
  }
}

