#search-input {
  background-image: url("/assets/img/magnifying-glass-solid.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 2.5rem 1rem;
}

tr:nth-of-type(odd) > td {
  background-color: #f5f7f9 !important;
}
